@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Castoro+Titling&family=Montserrat&family=Source+Sans+Pro&display=swap')
*{
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding:0;
}
.header{
   width:100%;
   height:auto;
   position:relative;
   top:0;
   background:#fff; 
}
.sub-header{
   width:100%;
   height:20vh;
   position:relative;
   top:0;
   background:#fff;
   border-bottom: 2px solid lightgrey;
}
.video-wrapper{
  /* Telling our absolute positioned video to 
   be relative to this element */
   position: relative;
   width:100%;
   height:55vh;
  /* Will not allow the video to overflow the 
  container */
   overflow: hidden;

  /* Centering the container's content vertically 
          and horizontally */
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center; 
}     
.video-wrapper video{
   /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    opacity:1;
}
.text-overlay {
    position: absolute;
    top: 70%;
    left:28%;
    transform: translate(-50%, -50%);
    text-align:left;
    color: #fff;
    font-size:22px;
    font-weight:bold;
    Padding:10px;
    background: transparent; 
    border-radius:;
    width: 50%;
} 
.all_links{
    position: absolute;
    background:#fff/*#d4af37*/;
    height:20vh;
    width:100%;
    top: 0; 
    margin: 0;
}
nav{
    margin:;
    display:flex;         
    justify-content:space-between; 
    text-align:left;
}
.nav-links{
    flex:1;
    text-align:center;
    margin:0; 
}
.nav-links>ul>li{
    list-style:none;
    display:inline-block; 
    padding:15px; 
    position:relative;
    
}
.nav-links>ul>li>a{
    color:#333; 
    text-decoration:none;
    font-size:22px;
}     
.nav-links>ul>li::after{
    content:"";
    width:0%;
    height:2px;
    display:block;
    margin:auto;
    transition:0.5s;
}  
nav .fa{
    display: none;
}
.search_container{
    margin:25px;
    border: 1px solid lightgrey;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
}
.search_container input[type="search"]{
    outline:none;
    border: none;
    border-bottom-left-radius:;
    border-top-left-radius:; 
    padding:10px;
}
.search_container input[type="submit"]{
    outline:none;
    border: none;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px; 
    padding:10px;
}
.search_container:hover{
    border:1px solid #00aa00;
}
.active::after{
    content:"";
    width:100%;
    height:2px;
    background:#00aa00; 
    display:block;
    margin:auto;
    transition:0.5s;
}
.header-icons{
    width:250px;
    padding:1.5%;
    height:auto;
    justify-content:space-between;
    background:transparent;
    top:px;
    margin:px;
             
}
.header-icons{
    display: none;
}
.imgx{
     height:80px;
     width:200px;
     position:absolute;
     top:15px;
     left:10px;
}
.home_content{
    position:;
    height: auto;
    padding: 15px; ;
}
.home_content-col{
    flex-basis: 48%;
    border: 1px solid lightgrey;
    padding: 15px;
    margin:25px;
}
.home_content-col h1{
    margin-top: 80px;
}
.home_content-col-extend{
    background: aliceblue;
    text-align: left;
    padding: 20px;
    
}
.Gallery-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    margin-bottom:20px;
}
.Gallery-card{
     width:100%;
     height:300px;
     margin-right:15px;
     border:2px solid lightgrey;
     border-radius:10px;
     background:lavender;
     
} 
.Gallery-card-img{
     width:200px;
     height:200px;
     object-fit: cover; 
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}
.Gallery-card-name{ 
     text-align:center;
     font-size: 14px;
     /*text-transform: capitalize;*/
     padding:8px;
     color:#fff;
     font-weight:normal;
}
.footer{ 
     padding:25px;
     color:;
     position:static;
     bottom:0; 
     font-weight:normal;
     background:#fff; 
     margin-top:100px;
     border-top: 2px solid lightgrey; 
}     
.footer-body{
     flex-basis:31%;
     margin-bottom:10px;
     text-align:left;
     margin-right: 15px;
}
.footer-body a{
     color:#000;
     text-decoration:none;
}
.footer-body ul{
     display:block;
     margin:0;
     padding:0;
}
.footer-body li{
     list-style-type:none;
}
.footer-body a:hover{
     text-decoration:underline;
     color:#4285F4;
}
.footer-icons{
     display:flex;
     justify-content:space-between; 
     text-align:center;
     width:100px;  
     margin-top:50px;
     margin-bottom:80px; 
    
}
.footer-icons .fa{
     color:#000;
     font-size:20px;
     float:left; 
}
.footer-icons a{
     color:#000;
     text-decoration:none;
}
.footer-icons .fa:hover{
     background:#4285F4;
     color:white;
}
.footer span{
     font-size:20px;
     color:#000;
}
.footer-copyrights {
     text-align:center;
     margin-bottom:10px;
     padding: 15px;
     color:#00aa00; 
}
.row{
     margin-top:5%;
     display:flex;
     justify-content:space-between; 
}
.about-us{
       width:80%;
       margin:auto;
       padding-top:50px;
       padding-bottom:50px;
}
.about-col{
       flex-basis:48%;
       padding:30px 2px; 
}
.about-col img{
       max-width:100%;
       height:auto;
       padding-top:0;
}
.about-col h3{ 
       padding:;
       margin:0;
       color: #333;
}
.about-col p{
       padding:; 
}
.red-btn{
       background:transparent; 
       border:1px solid #f44336;
       color:#f44336;
}
.red-btn:hover{
       color:navy;
       text-decoration:underline ; 
}
.visit-button{
     display:inline-block; 
     margin-top:30px;
     color:grey; 
     background:transparent;
     border:1px solid grey;
     padding:12px 34px;
     text-decoration:none;
     font-size:13px;
     position:relative;
     cursor:pointer;
     margin-bottom:30px;
}
.visit-button:hover{
     background:#4285F4;   
     border:1px solid orange; 
     transition:4s;     
     color:white; 
     text-decoration:; 
}
.contact-us{
       width:80%;
       margin:auto;
       margin-top:100px;
}
.contact-us p{
       color:#222;
       font-size: 18px;
}
.contact-col{
       flex-basis:48%;
       margin-bottom:30px;
       height:auto;
}
.contact-col div{
       display:flex;
       text-align:center;
       margin-bottom:40px;
}
.contact-col div .fa{
       font-size:20px;
       margin:10px;
       margin-right:30px;
       color:#4585F4; 
}
.contact-col div p{
       padding:0;
}
.contact-col div h6{
       color:#555;
       font-weight:400; 
       font-size:20px;
       margin:10px;
}
.contact-col h3{
    padding: 0;
    margin:0 0 15px 0;
}
.contact-col input, .contact-col textarea{
       border:1px solid #ccc; 
       margin-bottom:17px;
       width:100%;
       padding:15px;
       outline:none; 
}
.contact_extend{
    background:;
    border: 1px solid lightgrey;
}
.services{
     width:;
     margin:auto;    
}
.services h1{
     font-size:36px;
     font-weight:600;
}
.services p{
     color:#333;
     font-size:20px;
     font-weight:300;
     padding:10px;
     line-height:22px;
} 
.services-col{ 
     height:250px;
     margin:25px;
     padding:15px;
     flex-basis:48%; 
     border-radius:10px;
     border:2px solid #00aa00;
     background:aliceblue;
     /*background-image:linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url("photography.jpg");
     background-size:cover;
     background-position:center;*/
}      
.services-col .fa{
      color:#4285F4;
      font-size:25px;
      padding:10px;
      text-align: left;
}
.services-col img{
      max-width:100%;
      float:left;
      height:225px;
      margin-right:15px;
}
.services h2{
      width:50%;
      text-align:center;
      background:brown;
      padding:10px 0;
      margin:25px;
      color:#fff; 
      border-radius:10px;
}
.services h3{
      text-align:center;
      margin:10px 0;
      font-weight:600;
      color:#f44336; 
}
.services-col ul li{
      color:#555; 
      font-weight:400;
      font-size:14px;
      padding:10px;
      margin:0;           
}
.services-col ul{
      list-style-type:square;
}
.services-col:hover{
      box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}     
 
/*Disign for mobile phones*/
@media(max-width:768px){
        *{
              box-sizing:border-box; 
         }
         .imgx{
             height:60px;
             width:150px;

         }
         .nav-links>ul>li{
             display:block;
         }
         .nav-links>ul>li>a{
             color:#333;
         }
         .nav-links{
             position:absolute;
             top:50px;
             right:0;
             background:#fff; 
             z-index:2;
             width:200px;
             height:280px;
             text-align:left;
             display:none;
             /*box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);*/
             border-radius:; 
              
          }
             
          nav .fa{
             display:block;
             color:#000; 
             font-size:22px; 
             float:right; 
             margin-top:20px;
             margin-right:20px;
             cursor:pointer;
          }
          .show{
             display:block;
          }
          .nav-links ul>li{
             padding:5px;
          }
          .nav-links>ul>li:hover::after{
             width:0%;
          }
          nav input{
             display:none;
          }
          .active::after{
             width:0;
          } 
           
          ::-webkit-scrollbar{
              display:none;
          }
          
          .row{
             flex-direction:column;
          }
          .show{
             display:block;
          }
          .content{         
             padding:10px;
             margin-top:30px;
             width:100%;
             height:auto;
             border-bottom:3px solid lightgrey;
             margin-bottom:80px;
           }   
        
          .sub-header h1{
             font-size:24px;
          }
          .contact-col input, .contact-col textarea{
             box-sizing:border-box; 
          }         
          .contact-col div h6{
             font-size:14px;
          }
          .contact-col div .glyphicon{
             font-size:15px;
             margin:5px;
             margin-right:10px;
             
          }
          .about-col h1{
             font-size:20px;
          }
          .blog-left h1{
             font-size:20px;
          }
          .services h2{
             font-size:20px;
          }
          .services-col img{
             max-width:100%;
             height:225px;
             margin-right:15px;
           }  
          .sub-header{
             height:25vh;
             width:100%;
             background:#fff;
          }
           
         .footer{
             width:100%;
             padding:30px 0;
             text-align:center;
             background:#fff;  
             font-size:13px;
             margin-top:100px
         }
         .footer h4{
             margin-top:25px;
             margin-bottom:20px;
             font-weight:600;
             color:#000;
             font-size:15px;
         }
         .footer p{
             color:#00aa00; 
             font-size:12px;
         }
         .footer-body{
           text-align:center; 
        }
        .footer-icons{
           margin-left:40%;
        
        }
        .footer-icons .fa{
           color:#000;
           font-size:20px;
           float:left;
        }
        .services-col{
           width:; 
           height:250px;
           margin:25px; 
           padding:15px;
           flex-basis:48%; 
           border-radius:10px;
           border:2px solid #ABC270;
    
        }  
        .header-icons{
             display:flex; 
             position:absolute;
             width:100%;
             padding:10px; 
             height:auto;
             justify-content:space-between;
             background:transparent;
             top:70px; 
          }
          .header-icons a{
            text-decoration:none;
            font-size:15px;
            color:#333;
         }
         .header-icons .fa{
            color:#333;
            font-size:20px;
            font-weight:normal;
            padding:5px;
         }
         .header-icons .active{
            color:#4285F4;
            font-weight:bold;
         }   
             
          .header-icons .fa:hover{
             color:;
         }
}
