
     *{ 
          box-sizing: border-box; 
       }
       html,body{
          margin:0;
          padding:0;
       }
        .sub-header{
            width:100%;
            height:15vh;
            position:absolute;
            top:0;
            background:black;
           /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("city.jpg");
           background-size:cover;
           background-position:center;*/ 
       }
       .video-wrapper{
          /* Telling our absolute positioned video to 
           be relative to this element */
          position: relative;
          width:100%;
          height:50vh;

         /* Will not allow the video to overflow the 
         container */
         overflow: hidden;

         /* Centering the container's content vertically 
          and horizontally */
         text-align: center;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      
      video{
        /** Simulationg background-size: cover */
        object-fit: cover;
        height: 100%;
        width: 100%;

       position: absolute;
       top: 0;
       left: 0;
      } 
     .blink {
        animation: blink 3s infinite;
      }
      .blinking{ 
          width:100%;
          margin:auto
     }
      .blinking span{
        font-size:100px;
        color:red;
      }
      @keyframes blink {
         0% {
           opacity: 1;
         }
        50% {
           opacity: 0;
           transform: scale(2);
         }
        51% {
          opacity: 0;
          transform: scale(0);
        }
       100% {
          transform: scale(1);
          opacity: 1;
        }
      }
       .sub-header h1{
          display:none;
          margin-top:30px;
          text-align:center;
       }
        
       nav{
          display:flex;
          padding:2% 6%;
          justify-content:space-between; 
          text-align:center;
       }
        nav input[type="search"]{
            outline:none;
            border-bottom-left-radius:20px;
            border-top-left-radius:20px;
            border:1px solid blue;
            padding:10px;
            margin:10px;
       }
        nav input[type="submit"]{
            outline:none;
            border-bottom-right-radius:20px;
            border-top-right-radius:20px;
            border:1px solid blue;
            padding:10px;
            margin:10px;
       }
       .nav-links{
          flex:1;
          text-align:center;
       }
       .nav-links>ul>li{
          list-style:none;
          display:inline-block; 
          padding:8px 12px; 
          position:relative;
         
       }
       .nav-links>ul>li>a{
          color:#fff; 
          text-decoration:none;
          font-size:13px;
       }
     
       .nav-links>ul>li::after{
          content:"";
          width:0%;
          height:2px;
          display:block;
          margin:auto;
          transition:0.5s;
       }
        
        .active::after{
          content:"";
          width:100%;
          height:2px;
          background:#fff; 
          display:block;
          margin:auto;
          transition:0.5s;
       }
        
       /*.logo{
          color:red;
          text-decoration:none;
          font-weight:600;
          margin:10px;
          font-size:x-large;
       }*/
       .welcome-note{
          width:80%;
          margin:60px auto;
       }
        .welcome-note h1{
          font-size:30px;
          padding:15px;
          background:blue ;
          border-bottom-right-radius:20px ;  
          border-top-left-radius:20px ;  
          color:#fff ;  
          text-align:center;
          
       }
        .welcome-note h2{
           font-size:20px;
           color:#333; 
           padding:0;
       }
        .visit-button{
           display:inline-block; 
           color:#fff; 
           background:transparent;
           border:1px solid white;
           padding:12px 34px;
           text-decoration:none;
           font-size:13px;
           position:relative;
           cursor:pointer;
       }
        .visit-button:hover{
           background:orange;   
           border:1px solid orange; 
           transition:1s;
           color:navy; 
           text-decoration:underline ; 
       }
        nav .fa{
           display:none;
       }
       .largescreen .fa{
          color:#fff; 
          margin-right:150px;
          margin-top:15px;
          float:right;
          font-size:22px;
       }
       .imgx{
             height:auto;
             max-width:100%;
           }
       @media(max-width:780px){
            *{
              box-sizing:border-box; 
            }
          .imgx{
             height:auto;
             max-width:100%;
           }
           .welcome-note h1{
              font-size:18px;
            }
            .nav-links>ul>li{
              display:block;
            }
            .nav-links>ul>li>a{
              color:#fff;
            }
            .nav-links{
              position:absolute;
              top:0;
              right:0;
              background:#333; 
              z-index:2;
              width:200px;
              height:auto;
              text-align:left;
              display:none;
              box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
              border-radius:;
              
            }
            .nav-links li{
              border-bottom:1px solid #fff; 
             }
            .nav-links li:last-child{
              border-bottom:none;
            }
            nav .fa{
               display:block;
               color:white; 
               font-size:22px; 
               float:left; 
               margin:10px;
               cursor:pointer;
            }
            .nav-links ul{
               padding:30px;
            }
            .nav-links>ul>li:hover::after{
                width:0%;
            }
            nav input{
               display:none;
           }
            .active::after{
                width:0;
            }
            .row{
               flex-direction:column;
            }
            .cnt h1{
               font-size:24px;
            }
            .sub-header h1{
               font-size:24px;
            }
            .contact-col input, .contact-col textarea{
               box-sizing:border-box; 
            }
            
            .contact-col div h6{
              font-size:14px;
            }
            .contact-col div .glyphicon{
              font-size:15px;
              margin:5px;
              margin-right:10px;
             
            }
            .about-col h1{
               font-size:20px;
            }
            .blog-left h1{
               font-size:20px;
            }
            .services h2{
                 font-size:20px;
            }
            .footer{
              width:100%;
              padding:30px 0;
              text-align:center;
              background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("footer.jpg");
              background-size:cover;
              background-position:center;
           }
           .footer h4{
               margin-top:25px;
               margin-bottom:20px;
               font-weight:600;
               color:#fff;
               font-size:15px;
           }
            .footer p{
             color:#fff; 
             font-size:12px;
           }
           .sub-header{
             height:20vh;
             width:100%;
             background:#000;
           }
           .largescreen .fa{
             display:none;
           }
       }
       .services{
          width:80%;
          margin:auto;
          padding-top:80px;
       }
       .services h1{
          font-size:36px;
          font-weight:600;
       }
       .services p{
          color:#555;
          font-size:14px;
          font-weight:300;
          padding:10px;
          line-height:22px;
       }
       .row{
          margin-top:5%;
          display:flex;
          justify-content:space-between; 
       }
       .services-col{
          flex-basis:48%;
          margin-bottom:5%;
          border-radius:10px;
          
       }
       .services-extend{
          padding:20px 12px;
          transition:1s;
          background :#f0f0f0; 
       }
       .services-col img{
          width:100%;
       }
       .services h2{
          text-align:center;
          background:red;
          padding:10px 0;
          color:#fff; 
       }
       .services h3{
          text-align:center;
          margin:10px 0;
          font-weight:600;
          color:#f44336; 
       }
       .services-col ul li{
           color:#555; 
           font-weight:400;
           font-size:14px;
           padding:10px;
           margin:0;
           
       }
       .services-col ul{
           list-style-type:square;
       }
       .services-extend:hover{
          box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
       }
        
       .cnt{
          margin:60px auto; 
          width:80%;
          background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("city.jpg");
          background-size:cover;
          background-position:center;
          border-radius:10px;
          padding:100px 0;
          text-align:center;
       }
       .cnt h1{
           color:#fff; 
           margin-bottom:40px;
           padding:0;
       }
       .footer{
            width:100%;
            padding:30px 0;
            text-align:center;
            background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("footer.jpg");
            background-size:cover;
            background-position:center;
       }
       .footer h4{
            margin-top:25px;
            margin-bottom:20px;
            font-weight:600;
            color:#fff;
       }
       .footer p{
          color:#fff; 
       }
       .footer .polici{
          margin-top:30px;
       }
       .footer  .polici a{
          text-decoration:underline;
          color:#fff; 
       }
       
       .icons .fa{
           color:#fff;
           margin:0 13px;
           padding:18px 0; 
           cursor:pointer;
       }
       
       .about-us{
          width:80%;
          margin:auto;
          padding-top:80px;
          padding-bottom:50px;
       }
       .about-col{
          flex-basis:48%;
          padding:30px 2px; 
       }
       .about-col img{
         max-width:100%;
         height:auto;
         padding-top:0;
       }
       .about-col h1{
         padding-top:0;
         margin-top:0;
       }
       .about-col p{
         padding:15px 0 25px; 
       }
       .red-btn{
          background:transparent; 
          border:1px solid #f44336;
          color:#f44336;
       }
       .red-btn:hover{
          color:navy;
          text-decoration:underline ; 
       }
       .blog-content{
          width:80%;
          margin:auto;
          padding:12px 0;
       }
       .blog-left{
          flex-basis:48%;
       }
       .blog-left img{
          width:100%;
       }
       .blog-left h1{
          color:#222:;
          font-weight:600;
          margin:0;
          padding:0;
       }
       .blog-left p{
         color:#333;
         padding:0;
       }
       .blog-left video{
         max-width:100%;
         height:auto;
       }
       .blog-left h4{
          color:white;
          background:red;
          padding:7px 0;
          margin-bottom:20px;
          margin-top:0px;
          font-size:16px;
          text-align:center;
       }
       .blog-left div{
          display:flex;
          padding:8px;
          text-align:center;
          justify-content:space-between; 
          color:#555;
       }
       .blog-right{
         flex-basis:48%;
         margin-top:10px;
       }
       
       .contact-box{
          border:1px solid #ccc; 
          /*margin:50px 0;*/
          padding:10px 20px;
       }
       .contact-box h3{
          text-align:left;
       }
       .contact-form input, .contact-form textarea{
          width:100%;
          margin:15px 0;
          padding:10px;
          border:none;
          outline:none;
          background:#f0f0f0;
       }
       .contact-form button{
          margin:10px 0;
       }
       .contact-us{
          width:80%;
          margin:auto;
       }
       .contact-us p{
          color:#222;
       }
       .contact-col{
          flex-basis:48%;
          margin-bottom:30px;
       }
       .contact-col div{
          display:flex;
          text-align:center;
          margin-bottom:40px;
       }
       .contact-col div .fa{
          font-size:20px;
          margin:10px;
          margin-right:30px;
          color:#f44336; 
       }
       .contact-col div p{
          padding:0;
       }
       .contact-col div h6{
          color:#555;
          font-weight:400;
          margin-bottom:5px;
          padding:;
       }
       .contact-col input, .contact-col textarea{
          border:1px solid #ccc; 
          margin-bottom:17px;
          width:100%;
          padding:15px;
          outline:none; 
       }
       .privacy{
         margin-top:50px; 
         padding:15px; 
         background:#fff; 
       }
       .privacy p{
          color:#555; 
          font-size:13px; 
       }
       .privacy h3{
          font-size:15px;
       }
       .privacy a{
          font-size:13px;
       }
       .header2{
           background:#fff; 
           width:100%; 
           height:50px; 
           padding:10px; 
           position:fixed; 
           top:0; 
           text-align:center; 
       }
      .policy1{
         display:flex;  
      }
      .policy .fa{
         font-weight:300; 
         font-size:22px ;
         color:#000; 
         padding:10px ;
      }
      
      .policy1 .fa:hover{
        color:blue;  
      }
      .policy1 h1{
        padding:10px;  
        margin:0; 
        font-size:22px ; 
      }
       
  
      #slideshow { 
       position: relative; 
       width:100%; 
       height:450px; 
       padding: 2px; 
       /*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/
       margin-bottom:50px ; 
       overflow:hidden ; 
       
     }
      .img2{
         max-width:100%; 
         height:auto ; 
         border-top-left-radius:5px ;  
         border-bottom-left-radius:5px ; 
         border-top-right-radius:5px ;   
      }

     #slideshow > div { 
       position: absolute; 
      top: 10px; 
      left: 10px; 
      right: 10px; 
      bottom: 10px; 
     }
     
